html{
    background-color: rgba(51, 51, 51, 0.836);
    padding: 30px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.CreateComposition {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    padding-top: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}